html {
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#app {
    position: absolute;
    background: url("/alp.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.clear_sky {
    background: url("/clear_sky.jpg");
    background-size: cover;
}
/* RAIN */
.rain {
    /* height: 1000px; */
    background: url("/rain.png");
    width: 100%;
    height: 100%;
    animation: rain 0.4s linear infinite;
}

.snow {
    background: url("/snow.png");
    background-repeat: repeat;
    opacity: 0.4;
    width: 100%;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    animation: snowing 10s infinite linear;
}

/*CLOUDS*/
.cloud {
    background: url("/cloud.png");
    animation: cloud 60s linear infinite;
}

@keyframes snowing {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100px 700px;
    }
}

@keyframes rain {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 10% 100%;
    }
}

/* CLOD */

@keyframes cloud {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 5440px;
    }
}

.display-weather {
    height: 250px;
    box-shadow: inset 80px 80px 400px white;
    border-radius: 20px;
    background: no-repeat center center fixed;
    width: 500px;
    text-align: center;
    font-size: 24px;
    color: white;
    margin-left: 26%;
}

#cityName {
    font-size: 50px;
    font-weight: bold;
    color: black;
}

.humidity {
    font-size: 25px;
    color: black;
}

.title {
    margin-left: 2%;
    font-size: 20px;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    border: none;
    height: 30px;
    font-size: 24px;
    border-radius: 10px;
}

button {
    height: 35px;
    border-radius: 10px;
    width: 150px;
    margin-left: 26%;
    background-color: #506975;
    color: white;
    font-size: 18px;
}

button:hover {
    background-color: #4caf50;
    color: white;
}

.display {
    margin-left: 35%;
}

.forecast-title {
    box-shadow: inset 20px 20px 100px white;
    width: 300px;
    border-radius: 15px;
    text-align: center;
}

.display1 {
    margin-left: 35%;
    box-shadow: inset 40px 40px 400px white;
    border-radius: 20px;
    background: no-repeat center center fixed;
    background-size: cover;
    width: 300px;
}

.weather__key {
    color: black;
    font-size: 24px;
    opacity: 0.9;
    width: 300px;
    text-align: center;
}

.weather__error {
    color: red;
    font-size: 24px;
    margin-left: 20px;
}
